<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
</head>

<body>
  <h1 class="d-flex justify-content-center">
    Revisão
  </h1>
  <div class="d-flex justify-content-center">
    <img src="/img/harold.jpg" width="600">
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="/pokemon"> TOP 10 Pokemons</a>
  </div>
</body>

</html>